h1{
  color:red;
}
.tuade{
color: rose;
font-family: "Times New Roman";
top-margin: 20pt;
font-size: 20pt;
font-weight: bold;
}
.noidung{
  color: brown;
  top-margin: 6pt;
  font-size: 15pt;
  font-weight:bold;
}
